{% extends 'base.html' %}
{% load cart_tags %}
{% load static %}


{% block content %}

<section class="cart-list container"
         data-delete-url="{% url 'cart:delete_from_cart' %}"
         data-add-url="{% url 'cart:add_item_cart' %}"
         data-sub-url="{% url 'cart:sub_item_cart' %}"
         data-csrf-token="{{ csrf_token }}">
    {% if products %}
    {% for p in products %}
    <div class="card" id="product-{{ p.id }}">
        {% if p.photo %}
        <a href="{{ p.get_absolute_url }}">
            <img src="{{ p.photo.url }}" alt="Not found">
        </a>
        {% else %}
        <a href="{{ p.get_absolute_url }}">
            <img src="/media/games/default.png" alt="Not found">
        </a>
        {% endif %}
        <div class="content">
            <h3>{{ p.name }}</h3>
            <h2>{{ p.price }}</h2>
            <i class="fa-solid fa-trash delete-from-cart" data-product-id="{{ p.id }}"></i>
            <div class="quantity">
                <button class="add-item-cart" data-product-id="{{ p.id }}">+</button>
                <span id="quantityText-{{p.id}}">{{ product_quantities|dict_get:p.id }}</span>
                <button class="sub-item-cart" data-product-id="{{ p.id }}">-</button>
            </div>
        </div>
    </div>
    <hr id="p-{{ p.id }}">
    {% endfor %}
    <div class="amount">
        <h3>Итоговая сумма:</h3>
        <h2 id="aText">{{ amount }} руб.</h2>
    </div>
    {% else %}
    <h2>Товаров в корзине пока нет</h2>
    {% endif %}
</section>

<script src="{% static 'cart/js/products.js' %}"></script>

{% endblock %}
