{% extends 'base.html' %}
{% load store_tags %}

{% block content %}
<section class="catalog container">
    {% if title %}
    <h2>{{ title }}</h2>
    {% else %}
    <h2>Каталог</h2>
    {% endif %}
    <div class="list">
        {% if cat_selected == 0 %}
        <li class="active">Все категории</li>
        {% else %}
        <li><a href="{% url 'catalog' %}">Все категории</a></li>
        {% endif %}
        {% show_categories cat_selected %}
    </div>
    <div class="cards">
        {% for p in products %}
        <div class="card">
            <a href="{{ p.get_absolute_url }}">
            <div class="image">
                {% if p.photo %}
                <img src="{{ p.photo.url }}">
                {% else %}
                <img src="/media/games/default.png" alt="">
                {% endif %}
            </a>
                <div class="description">
                    <div class="text">
                        <h3>{{ p.name }}</h3>
                        <div class="bottom">
                            <span>{{ p.price }} ₽</span>
                            <div class="cart add-to-cart" data-product-id="{{ p.id }}">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}


{% block pagination %}
{% if page_obj.has_other_pages %}
<nav class="pagination container">
	<ul>
		{% if page_obj.has_previous %}
		<li class="page-num page-num-selected">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

		{% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
		<li class="page-num">
			<a href="?page={{ p }}">{{ p }}</a>
		</li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<li class="page-num page-num-selected">
			<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}
{% endblock %}




{% block script %}
<script>
    $(document).ready(function() {
        $('.add-to-cart').on('click', function() {
            var productId = $(this).data('product-id');
            $.ajax({
                url: '{% url "cart:add_to_cart" %}',
                method: 'POST',
                data: {
                    'product_id': productId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        console.log('added')
                    } else {
                        console.log('error added')
                    }
                },
                error: function() {
                    alert('Произошла ошибка.');
                }
            });
        });
    });
</script>
{% endblock %}
