{% extends 'base.html' %}
{% load store_tags %}

{% block content %}
<section class="catalog container">
    {% if title %}
    <h2>{{ title }}</h2>
    {% else %}
    <h2>Каталог</h2>
    {% endif %}
    {% show_categories cat_selected %}
    <div class="cards">
        {% for p in products %}
        <div class="card">
            <a href="{{ p.get_absolute_url }}">
            <div class="image">
                {% if p.photo %}
                <img src="{{ p.photo.url }}">
                {% else %}
                <img src="/media/games/default.png" alt="">
                {% endif %}
                <div class="description">
                    <div class="text">
                        <h3>{{ p.name }}</h3>
                        <div class="bottom">
                            <span>{{ p.price }} ₽</span>
                            <div class="cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
