{% extends 'base.html' %}

{% block content %}
<section class="catalog container">
    <h2>Каталог</h2>
    <!-- <div class="list">
        <li data-filter=".All">Все</li>
        <li data-filter=".Popular">Самые популярные</li>
        <li data-filter=".Action">Экшн</li>
        <li data-filter=".Strategy">Стратегии</li>
    </div> -->
    <div class="cards">
        {% for p in products %}
        <div class="card">
            <a href="{% url 'game' p.slug %}">
            <div class="image">
                {% if p.photo %}
                <img src="{{ p.photo.url }}">
                {% else %}
                <img src="/media/games/default.png" alt="">
                {% endif %}
                <div class="description">
                    <div class="text">
                        <h3>{{ p.name }}</h3>
                        <div class="bottom">
                            <span>{{ p.price }} ₽</span>
                            <div class="cart">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
