{% extends 'base.html' %}

{% block content %}
<section class="game container">
    <div class="left">
        <h2>{{game.name}}</h2>
        {% if game.photo %}
        <img src="{{ game.photo.url }}">
        {% else %}
        <img src="/media/games/default.png" alt="">
        {% endif %}
    </div>
    <div class="right">
        <p>{{ game.description }}</p>
        <span>{{ game.price }} Р</span>
    </div>
    <a href="{% url 'category' game.category.slug %}">{{ game.category.name }}</a>
    <a href="{% url 'edit' game.slug %}">Редактировать</a>
    <a href="{% url 'delete' game.slug %}">Удалить</a>


</section>
{% endblock %}
