{% extends 'base.html' %}

{% block content %}
<section class="game container">
    <div class="left">
        <h2>{{game.name}}</h2>
        <img src="{{ game.photo.url }}">
    </div>
    <div class="right">
        <div class="content">
            <h3>{{ game.price }} руб.</h3>
            <p>{{ game.description }}</p>
            <hr>
            <a href="{% url 'category' game.category.slug %}">{{ game.category.name }}</a>
        </div>
    </div>
    {% if perms.users.edit_product and perms.users.delete_product %}
    <div class="admin">
        <a href="{% url 'edit' game.slug %}">Редактировать</a>
        <a href="{% url 'delete' game.slug %}">Удалить</a>
    </div>
    {% endif %}
</section>

<section class="reviews container">
    <div class="reviews">
        {% if reviews %}
        {% for r in reviews %}
        <h3>{{ r.user }}</h3>
        <p>{{ r.text }}</p>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
