{% extends 'base.html' %}

{% block content %}
<section class="checkout container">

    <form method="post">
        {% csrf_token %}
        <h2>Ваши данные:</h2>

        <div class="form-error">{{ form.non_fields_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <hr>
        <p><button type="submit" id="payBtn">Оплатить</button></p>
    </form>
    <div class="sum">
        <h3>Итоговая сумма</h3>
        <h2>{{ sum  }}</h2>
    </div>

</section>
{% endblock %}

{% block script %}
<script>
    $(document).on('submit', function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "{% url 'payment:complete_order' %}",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                amount: "{{ sum }}",
                action: "payment"
            },
            success: function(response){
                window.location.href = "{% url 'payment:payment_success' %}"
                console.log('OK')
            },
            error: function(){
                window.location.href = "{% url 'payment:payment_fail' %}"
                console.log('NO')
            }
        })
    });
</script>
{% endblock %}
