{% extends 'base.html' %}

{% block content %}

<div class="login container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
        <a href="{% url 'users:password-reset' %}">Забыли пароль?</a>
        <a href="{% url 'users:register' %}">Регистрация</a>
    </form>
</div>


<!-- <section class="popup">
    <div class="wrapper">
        <div class="icon-close">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="form-box login">
            <h2>Вход</h2>
            <form action="#">
                <div class="input-box">
                    <input type="email" required>
                    <label>Почта</label>
                </div>
                <div class="input-box">
                    <input type="password" required>
                    <label>Пароль</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Запомнить</label>
                    <a href="#">Забыли пароль?</a>
                </div>
                <button type="submit" class="btn">Войти</button>
                <div class="login-register">
                    <p>Нет аккаунта? <a href="#" class="register-link">Зарегистрироваться</a></p>
                </div>
            </form>
        </div>

        <div class="form-box register">
            <h2>Регистрация</h2>
            <form action="#">
                <div class="input-box">
                    <input type="text" required>
                    <label>Имя пользователя</label>
                </div>
                <div class="input-box">
                    <input type="email" required>
                    <label>Почта</label>
                </div>
                <div class="input-box">
                    <input type="password" required>
                    <label>Пароль</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Я согласен с правилами и условиями</label>
                </div>
                <button type="submit" class="btn">Зарегистрироваться</button>
                <div class="login-register">
                    <p>Есть аккаунт? <a href="#" class="login-link">Войти</a></p>
                </div>
            </form>
        </div>
    </div>
</section> -->
{% endblock %}
