{% extends 'base.html'  %}

{% block content %}
<section class="profile container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="">
        {% else %}
        <img src="/media/games/default.png" alt="">
        {% endif %}

        <div class="form-error">{{ form.non_fields_errors }}</div>
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <p><button type="submit">Сохранить</button></p>
    </form>

    <a href="{% url 'users:orders' %}">Заказы</a>
    <a href="{% url 'users:password-change' %}">Сменить пароль</a>
    <a href="{% url 'users:logout' %}">Выйти</a>

</section>

{% endblock %}
